*{
    margin: 0%;
    padding: 0%;
}
.container{
    margin: 0 auto;
    background-color: silver;
    width: 500px;
    margin-top: 10px;
    transition: 0.5s;
}
.container:hover{
    box-shadow: 0 15px 20px 0;
}
h1{
    color: darkorange;
    text-align: center;
}
.header{
    width: 97%;
    height: 100px;
    margin: 5px 5px 0px 7px;
    position: relative;
}
.p{
    position: absolute;
    width: 150px;
    height: 40px;
    bottom: 45px;
    left: 30px;
    font-size: 30px; 
    font-weight: bold;
}
.pp{
    position: absolute;
    width: 150px;
    height: 40px;
    bottom: 5px;
    left: 15px;
    font-size: 15px; 
}
.pp .color{
    color: rgb(119, 216, 107);
    font-weight: bold;
}
.free{
    position: absolute;
    width: 230px;
    height: 60px;
    left: 240px;
    bottom: 30px;
    background-color: rgb(202, 116, 116);
    border-radius: 1rem;
}
.tow-w-p{
    position: absolute;
    width: 150px;
    height: 20px;
    bottom: 5px;
    left: 320px;
    font-size: 15px;
    font-weight: bold;
}
.display #result{
    width: 95%;
    height: 140px;
    text-align: right;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 0 5px;
    margin: 5px;
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 0.3rem;
}
.first2line{
    width: 97%;
    height: 140px;
    position: relative;
    text-align: center;
    
}
.linea{
    width: 170px;
    height: 70px;
    position: absolute;
    right: 312px;  
}
.function2btn{
    width: 150px;
    height: 140px;
    position: absolute;
    left: 175px;
    right: 180px; 
}
.lineb{
    width: 170px;
    height: 70px;
    position: absolute;
    left: 327px;
}
.linec{
    width: 170px;
    height: 70px;
    position: absolute;
    top: 70px;
    right: 312px;
}
.lined{
    width: 170px;
    height: 70px;
    position: absolute;
    left: 327px;
    top: 70px;
}
.linea #function, .lineb #function{
    font-weight: bold;
    font-size: 17px;
    width: 68px;
    height: 50px;
    margin: 9px 5px;
    background-color: rgb(192, 133, 133);
    border-radius: 2rem;
    transition: 0.5s;
}
.linec #function, .lined #function{
    font-weight: bold;
    font-size: 17px;
    width: 68px;
    height: 50px;
    margin: 9px 5px;
    background-color: black;
    color: white;
    border-radius: 2rem;
    transition: 0.5s;
}
/*.lineb #function{
    font-weight: bold;
    font-size: 20px;
    width: 73px;
    height: 50px;
    margin: 9px 5px;
}
.linec #function{
    font-weight: bold;
    font-size: 20px;
    width: 73px;
    height: 50px;
    margin: 9px 5px;
}
.lined #function{
    font-weight: bold;
    font-size: 20px;
    width: 73px;
    height: 50px;
    margin: 9px 5px;
}*/
.function2btn #function{
    font-weight: bold;
    font-size: 28px;
    width: 140px;
    height: 80px;
    margin: 32px 5px;
    border-radius: 3rem;
    background-color: rgb(192, 133, 133);
    transition: 0.5s;
}
.mfunction #function{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 17px;
    width: 73px;
    margin: 3px;
    height: 50px; 
    border-radius: 1.5rem;
    transition: 0.5s;
}
/*
#functio{
    background-image: url("root.png");
    border-radius: 1.5rem;
    transition: 0.5s;
    width: 73px;
    height: 50px; 
    background-repeat: no-repeat;
    
}*/
.mnumber #function{
    background-color: chartreuse;
    font-weight: bold;
    font-size: 20px;
    width: 86px;
    margin: 1px 5px;
    height: 50px; 
    border-radius: 1.5rem;
    transition: 0.5s;
}
.lnumber #function{
    background-color: chartreuse;
    font-weight: bold;
    font-size: 20px;
    width: 86px;
    margin: 1px 5px 10px 5px;
    height: 50px; 
    border-radius: 1.5rem;
    transition: 0.5s;
}
#del, #ac{
    font-weight: bold;
    font-size: 20px;
    width: 86px;
    margin: 1px 5px;
    height: 50px; 
    border-radius: 1.5rem;
    background-color: darkorange;
    transition: 0.5s;  
}
#del:hover, #ac:hover{
    background-color: blueviolet;
}
.function2btn #function:hover{
    background-color: darkgrey; 
}
.mnumber #function:hover{
    background-color: darkgrey;
}
.mfunction #function:hover{
    background-color: darkgrey; 
}
.linea #function:hover, .lineb #function:hover{
    background-color: rgb(221, 255, 127);
}
 .linec #function:hover, .lined #function:hover{
    background-color: darkgrey;
}